[submodule "benchmark-results"]
	path = benchmark-results
	url = git@github.com:yambo-code/benchmark-results.git
	master = benchmark-results
[submodule "ROBOTS"]
	path = ROBOTS
	url = git@github.com:yambo-code/yambo-testing-robots.git
