TESTS/MAIN/Si_bulk/ELPH/OPTICS/01_MAP_FineGd/
TESTS/MAIN/Si_bulk/ELPH/OPTICS/01_MAP_FineGd_5.0/
TESTS/MAIN/Si_bulk/ELPH/OPTICS/01_MAP_FineGd_4.5/
.running_robot.pl
ns.BS_*_interrupted
ns.wf*
ns.em1s.tar
ns.kb*
ns.db1
ns.RIM*
ns.nlcc*
io_files*
QEXML*
QEXSD*
*ndb.elph_gkkp*
*.tar.gz
config/MODULES.pl
config/TOOLS.pl
*CRONTAB
backup_and_www
