TESTS/MAIN/Si_bulk/ELPH/OPTICS/01_MAP_FineGd_devel-andreaM/ndb.Double_Grid
TESTS/MAIN/Si_bulk/ELPH/OPTICS/01_MAP_FineGd/
TESTS/MAIN/Si_bulk/ELPH/OPTICS/01_MAP_FineGd_4.5/
ns.BS_*_interrupted
ns.wf*
ns.em1s.tar
ns.kb*
*.db1
ns.RIM*
ns.nlcc*
io_files*
QEXML*
QEXSD*
*ndb.elph_gkkp*
*.tar.gz
config/MODULES.pl
config/TOOLS.pl
backup_and_www/
