# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.*
*.zip

# Garbage #
###########
*.sw*
nohup.out
gmon.out

# Yambo DB's#
#############
ns.*
ndb.*gkkp*
01_MAP_FineGd

# Post-configure #
##################
config/TEMPLATE.php
config/MODULES.pl
config/TOOLS.pl
amore9.mlib.ism.cnr.it/marini
amore9.mlib.ism.cnr.it/www
polluce.mlib.ism.cnr.it/marini
polluce.mlib.ism.cnr.it/www
anomaly.mlib.ism.cnr.it/marini
anomaly.mlib.ism.cnr.it/www
marini-Galago-UltraPro/marini
marini-Galago-UltraPro/www

# Test suite #
##############
#These files are used by UTILS_clean. 
#Cannot ignore them
#LOG-R*
#ERROR-R*
#FAILED-R*
#REPORT-R*
#ROBOT_Nr_*
#WHITELIST-R*
#scripts/find_the_diff/Makefile
#scripts/find_the_diff/find_the_diff_R*
